&.admin-home-page{
	.add-new-button{
		margin-top: 20px;
	}

	.sidebar-scroll{
		position: fixed;
		width: 19%;
	}

	#media{
		.card{
			.card-content{
				.card-title{
					opacity:1;
					transition: opacity 0.3s;
				}

				.card-image{
					&:hover {
						.card-title{
							opacity: 0;
						}

						img{
							opacity: 1;
						}
					}
				}

				.card-title {
					line-height: 26px;
				}
			}
		}
	}

	.inline-form{
		display: inline;

		button{
			border: none;
			padding: 0;
			margin: 0;
			background: none;
		}
	}
}

&.locations-index{
	.inline-form{
		display: inline;

		button{
			border: none;
			padding: 0;
			margin: 0;
			background: none;
		}
	}
}
