// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,600,400,300,200|Oxygen:400,300);

@off-white: #FFFFF8;
@off-black: #282C35;

@heading-stack: 'Oxygen', sans-serif;
@text-stack: 'Source Sans Pro', sans-serif;

h1, h2, h3, h4, h5, h6{
	font-family: @heading-stack;
	font-weight: 400;
}

body{
	font-family: @text-stack;
	margin:0;
	padding:0;
}

strong{
	font-weight: 600;
}

.off-white{
	background: @off-white;
}

.off-black{
	background: @off-black;
}

/* Nav Logo */
.brand-logo{
	line-height:58px;
	padding: 0;
	margin: 5px 0 0;
	max-width: 300px;

	img{
	    width: auto;
	    max-height: 55px;
	}
}

/* Utilities */
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

body{
	@import "_home.less";
	@import "_admin.less";
	@import "_media.less";

	hr{
		border: 0;
	    height: 1px;
	    background: @off-black;
	    background-image: linear-gradient(to right, @off-white, @off-black, @off-white);
	}

	&.install-page{
		main img{
			width: 100%;

			&.install-logo{
				width: 50%;
				margin: 0 auto;
			}
		}

		.errors-list li{
			list-style-type: disc;
		    margin-left: 60px;
		}
	}

	&.create-event{
		.clockpicker-popover{
			position: absolute;
		}
	}

	.get_ticket_button{
		margin:1.78rem 0 1.424rem 0;
	}

	.progress .determinate{
		width: 0;
	    transition: all 1s;
	    transition-timing-function: ease;
	}

	.dimmed-card-image{
		&.card{
			.card-image{
				background: @off-black;
				img{
					opacity: 0.4;
					transition: opacity 1s;
				}
			}
		}
	}
	&.usersEvent-page{	
		#userInfo{
			max-width:372px;
		}
		#userInfo img{
			margin:3%;
			width:254px;
			height:255px;
		}
		#upComingEvents .card-title{
			font-size:65% !important;
		}
		@media screen and (max-width: 1438px){
			#userInfo img{
				display:none;
			}
		}
		@media screen and (max-width: 600px){
			#upComingEvents .card-title{
				font-size:100% !important;
			}
		}
	}
}